body {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Manrope', sans-serif;
    /* font-family: 'Nunito Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif; */
    opacity: 0.9;
    /* height: 2000px; */

}
* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.header {
    width: 100%;
    height: auto;
    background: #000000cf;
    display: flex;
    align-items: center;
    padding: 10px;
    z-index: 111;
}

.header h1 {
    font-size: 1.7em;
    font-weight: 300;
    margin-left: 10px;
}

.header h1 a {
    text-decoration: none;
    color: white;
    transition: .3s;
}

.header #logo {
    flex: 0.5;
}

.header #logo a:hover {
    color: rgba(243, 230, 230, 0.418);
}

.header nav.navbar {
    position: relative;
}

.header nav.navbar ul {
    list-style: none;
    overflow: hidden;
}

.header nav.navbar li {
    float: left;
}

.header nav.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: .3s;
}

.header nav.navbar a:hover {
    color: rgba(243, 230, 230, 0.418);
}

section {
    position: relative;
    width: 100%;
}

.banner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: blue; */
    height: 520px;
}

.banner-content .left-banner-content {
    position: relative;
    width: 60%;
    height: 400px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.banner-content .left-banner-content h2 {
    font-size: 2.9em;
    margin-top: -100px;
}

.banner-content .left-banner-content p {
    font-size: 1.3em;
}

.banner-content .left-banner-content a {
    display: inline-block;
    width: 160px;
    padding: 20px;
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(42, 39, 39);
    color: white;
    transition: .3s ease-in-out;
}

.banner-content .left-banner-content a:hover {
    background: rgb(0, 0, 0);
    transition: .3s ease-in-out;
}

.banner-content .right-banner-content {
    width: 300px;
    height: 300px;
    background: #636363;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30% 30% 30% 30% / 30% 30% 70% 70%;
    margin-right: 50px;
    margin-top: -30px;
}

.banner-content .right-banner-content img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    filter: drop-shadow(4px 4px 4px);
}

section.section-2 {
    position: relative;
}

section.section-2 h2 {
    text-align: center;
    font-size: 2.2em;
    font-weight: 500;
    margin-bottom: 70px;
}

section.section-2 .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    gap: 20px;
}

section.section-2 .cards .card {
    width: auto;
    height: auto;
    position: relative;
    border-radius: 10px;
    transition: .3s;
    background-color: #ededed;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

section.section-2 .cards .card .card-head {
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    background: #a1a1a1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: .3s;
}

section.section-2 .cards .card .card-head a > .photo-seller + img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: -10px;
    transition: .3s;
}

section.section-2 .cards .card .card-head .photo-seller img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 70px;
    margin-top: -30px;
    border: 3px solid #a1a1a1;
}

section.section-2 .cards .card .card-head:hover a > .photo-seller + img {
    transition: .3s ease-in-out;
    transform: scale(1.1);
}

section.section-2 .cards .card .card-footer {
    overflow: hidden;
    background: #dbdbf394;
    transition: .3s ease-in-out;
    padding: 10px;
}

section.section-2 .card-footer .clothe-brand-name,
section.section-2 .card-footer .clothe-color,
section.section-2 .card-footer .clothe-size,
section.section-2 .card-footer .clothe-seller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

section.section-2 .card-footer .clothe-brand-name strong,
section.section-2 .card-footer .clothe-color strong,
section.section-2 .card-footer .clothe-size strong,
section.section-2 .card-footer .clothe-seller strong {
    font-weight: 100;
}

section.section-2 .cards .card .card-footer h3 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    font-weight: 300;
}

/* 30% 70% 70% 30% / 30% 30% 70% 70% */